*,
*::before,
*::after {
  box-sizing: inherit;
}

.hidden {
  display: none;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

template {
    display: none;
}

h1,
h2,
h3,
h4 {
  @include space-reset;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
