@mixin bg-image($source) {
  background-image: $source;
  background-repeat: no-repeat;
}

@mixin space-reset {
  padding: 0;
  margin: 0;
}

@mixin list-reset {
  @include space-reset();
  list-style: none;
}

@mixin visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
