/* ---- Fonts ---- */

/* ---- Colors ---- */
$white: #ffffff;
$black: #000000;
/* ------ Borders ------ */


/* ------ Other ------ */
$desktopWidth: 1440px;
$laptopWidth: 1200px;
$mobileWidth: 820px;
